# Contact
Created by: Ania Supady <p/>
Date:       11/2022 <p/>
>www.linkedin.com/in/aniasupady <p/>
>ania.b.supady@gmail.com

# 1. Libraries

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import numpy as np

import os
from datetime import datetime

import seaborn as sns
sns.set(color_codes=True)


import matplotlib.pyplot as plt
%matplotlib inline

from tqdm import tqdm_notebook
from string import ascii_letters

import gdown


import pandas as pd
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 1000)

In [ ]:
!pip install pygwalker

# 2. Set upper lower level, get lists

In [ ]:
L1=315
L2=837

R1=320
R2=842

x = np.arange(L1, L2+1, 6)
list_1 = x.tolist()

y = np.arange(R1, R2+1, 6)
list_2 = y.tolist()

In [ ]:
print(list_1)
print(list_2)

[315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, 603, 609, 615, 621, 627, 633, 639, 645, 651, 657, 663, 669, 675, 681, 687, 693, 699, 705, 711, 717, 723, 729, 735, 741, 747, 753, 759, 765, 771, 777, 783, 789, 795, 801, 807, 813, 819, 825, 831, 837]
[320, 326, 332, 338, 344, 350, 356, 362, 368, 374, 380, 386, 392, 398, 404, 410, 416, 422, 428, 434, 440, 446, 452, 458, 464, 470, 476, 482, 488, 494, 500, 506, 512, 518, 524, 530, 536, 542, 548, 554, 560, 566, 572, 578, 584, 590, 596, 602, 608, 614, 620, 626, 632, 638, 644, 650, 656, 662, 668, 674, 680, 686, 692, 698, 704, 710, 716, 722, 728, 734, 740, 746, 752, 758, 764, 770, 776, 782, 788, 794, 800, 806, 812, 818, 824, 830, 836, 842]

# 3. Get left and right list put to dataframe

In [ ]:
df2 = pd.DataFrame(list(zip(list_1, list_2)), columns =['Left', 'Right'])
df2['diff']=df2['Right']-df2['Left']
df2.head(10)
df2.info()

   Left  Right  diff
0   315    320     5
1   321    326     5
2   327    332     5
3   333    338     5
4   339    344     5
5   345    350     5
6   351    356     5
7   357    362     5
8   363    368     5
9   369    374     5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Left    88 non-null     int64
 1   Right   88 non-null     int64
 2   diff    88 non-null     int64
dtypes: int64(3)
memory usage: 2.2 KB

# 4. Combine Left and right list and sort

In [ ]:
band=list_1+list_2
band.sort()
print(band)

[315, 320, 321, 326, 327, 332, 333, 338, 339, 344, 345, 350, 351, 356, 357, 362, 363, 368, 369, 374, 375, 380, 381, 386, 387, 392, 393, 398, 399, 404, 405, 410, 411, 416, 417, 422, 423, 428, 429, 434, 435, 440, 441, 446, 447, 452, 453, 458, 459, 464, 465, 470, 471, 476, 477, 482, 483, 488, 489, 494, 495, 500, 501, 506, 507, 512, 513, 518, 519, 524, 525, 530, 531, 536, 537, 542, 543, 548, 549, 554, 555, 560, 561, 566, 567, 572, 573, 578, 579, 584, 585, 590, 591, 596, 597, 602, 603, 608, 609, 614, 615, 620, 621, 626, 627, 632, 633, 638, 639, 644, 645, 650, 651, 656, 657, 662, 663, 668, 669, 674, 675, 680, 681, 686, 687, 692, 693, 698, 699, 704, 705, 710, 711, 716, 717, 722, 723, 728, 729, 734, 735, 740, 741, 746, 747, 752, 753, 758, 759, 764, 765, 770, 771, 776, 777, 782, 783, 788, 789, 794, 795, 800, 801, 806, 807, 812, 813, 818, 819, 824, 825, 830, 831, 836, 837, 842]

# 5. Create sample data for score

In [ ]:
# set a random seed to reproduce
np.random.seed(123)
# create 10 random integers
x = np.random.randint(low=315, high=840, size=200)
x

array([825, 680, 697, 637, 413, 332, 421, 438, 529, 411, 428, 362, 388,
       539, 426, 724, 654, 568, 735, 523, 383, 766, 317, 655, 354, 637,
       819, 491, 450, 414, 695, 495, 673, 528, 726, 605, 421, 733, 709,
       461, 799, 586, 726, 473, 495, 680, 686, 469, 705, 570, 559, 674,
       444, 501, 672, 749, 620, 780, 828, 366, 619, 371, 657, 830, 382,
       454, 788, 804, 669, 318, 574, 537, 577, 580, 402, 329, 782, 513,
       455, 753, 716, 414, 508, 808, 331, 675, 424, 401, 361, 586, 630,
       611, 724, 616, 748, 734, 700, 801, 375, 636, 638, 403, 456, 727,
       679, 634, 655, 811, 795, 692, 739, 787, 373, 808, 392, 323, 521,
       705, 380, 537, 513, 391, 775, 805, 812, 450, 743, 572, 521, 755,
       786, 796, 830, 332, 403, 530, 512, 672, 445, 790, 818, 388, 725,
       407, 774, 757, 502, 722, 596, 756, 822, 574, 656, 817, 747, 627,
       640, 427, 627, 509, 384, 708, 522, 566, 637, 325, 605, 608, 620,
       716, 501, 509, 616, 325, 451, 596, 670, 636, 834, 769, 540, 535,
       737, 452, 483, 804, 639, 821, 530, 720, 359, 654, 652, 698, 423,
       562, 329, 553, 467, 441])

In [ ]:
df = pd.DataFrame({"score":x})
df.head(5)
#df.info()
#df.astype(int)

   score
0    825
1    680
2    697
3    637
4    413

In [ ]:
for v in df['score']:
    df3 = df2[(df2['Left'] < v) &  (df2['Right'] > v)]
    print (df3)

Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
63   693    698     5
    Left  Right  diff
53   633    638     5
    Left  Right  diff
16   411    416     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
17   417    422     5
    Left  Right  diff
20   435    440     5
    Left  Right  diff
35   525    530     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
12   387    392     5
    Left  Right  diff
37   537    542     5
    Left  Right  diff
18   423    428     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
56   651    656     5
    Left  Right  diff
42   567    572     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
34   519    524     5
    Left  Right  diff
11   381    386     5
    Left  Right  diff
75   765    770     5
   Left  Right  diff
0   315    320     5
    Left  Right  diff
56   651    656     5
   Left  Right  diff
6   351    356     5
    Left  Right  diff
53   633    638     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
29   489    494     5
    Left  Right  diff
22   447    452     5
    Left  Right  diff
16   411    416     5
    Left  Right  diff
63   693    698     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
59   669    674     5
    Left  Right  diff
35   525    530     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
48   603    608     5
    Left  Right  diff
17   417    422     5
    Left  Right  diff
69   729    734     5
    Left  Right  diff
65   705    710     5
    Left  Right  diff
24   459    464     5
    Left  Right  diff
80   795    800     5
    Left  Right  diff
45   585    590     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
26   471    476     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
25   465    470     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
42   567    572     5
    Left  Right  diff
40   555    560     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
21   441    446     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
59   669    674     5
    Left  Right  diff
72   747    752     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
77   777    782     5
    Left  Right  diff
85   825    830     5
   Left  Right  diff
8   363    368     5
    Left  Right  diff
50   615    620     5
   Left  Right  diff
9   369    374     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
11   381    386     5
    Left  Right  diff
23   453    458     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
81   801    806     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
   Left  Right  diff
0   315    320     5
    Left  Right  diff
43   573    578     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
43   573    578     5
    Left  Right  diff
44   579    584     5
    Left  Right  diff
14   399    404     5
   Left  Right  diff
2   327    332     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
23   453    458     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
16   411    416     5
    Left  Right  diff
32   507    512     5
    Left  Right  diff
82   807    812     5
   Left  Right  diff
2   327    332     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
18   423    428     5
    Left  Right  diff
14   399    404     5
   Left  Right  diff
7   357    362     5
    Left  Right  diff
45   585    590     5
    Left  Right  diff
52   627    632     5
    Left  Right  diff
49   609    614     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
50   615    620     5
    Left  Right  diff
72   747    752     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
64   699    704     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
53   633    638     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
14   399    404     5
    Left  Right  diff
23   453    458     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
60   675    680     5
    Left  Right  diff
53   633    638     5
    Left  Right  diff
56   651    656     5
    Left  Right  diff
82   807    812     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
70   735    740     5
    Left  Right  diff
78   783    788     5
   Left  Right  diff
9   369    374     5
    Left  Right  diff
82   807    812     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
   Left  Right  diff
1   321    326     5
    Left  Right  diff
34   519    524     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
12   387    392     5
    Left  Right  diff
76   771    776     5
    Left  Right  diff
81   801    806     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
22   447    452     5
    Left  Right  diff
71   741    746     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
34   519    524     5
    Left  Right  diff
73   753    758     5
    Left  Right  diff
78   783    788     5
    Left  Right  diff
80   795    800     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
14   399    404     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
59   669    674     5
    Left  Right  diff
21   441    446     5
    Left  Right  diff
79   789    794     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
12   387    392     5
    Left  Right  diff
68   723    728     5
    Left  Right  diff
15   405    410     5
    Left  Right  diff
76   771    776     5
    Left  Right  diff
73   753    758     5
    Left  Right  diff
31   501    506     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
73   753    758     5
    Left  Right  diff
84   819    824     5
    Left  Right  diff
43   573    578     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
83   813    818     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
54   639    644     5
    Left  Right  diff
18   423    428     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
32   507    512     5
    Left  Right  diff
11   381    386     5
    Left  Right  diff
65   705    710     5
    Left  Right  diff
34   519    524     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
53   633    638     5
   Left  Right  diff
1   321    326     5
    Left  Right  diff
48   603    608     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
32   507    512     5
    Left  Right  diff
50   615    620     5
   Left  Right  diff
1   321    326     5
    Left  Right  diff
22   447    452     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
59   669    674     5
    Left  Right  diff
53   633    638     5
    Left  Right  diff
86   831    836     5
    Left  Right  diff
75   765    770     5
    Left  Right  diff
37   537    542     5
    Left  Right  diff
36   531    536     5
    Left  Right  diff
70   735    740     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
81   801    806     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
84   819    824     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
67   717    722     5
   Left  Right  diff
7   357    362     5
    Left  Right  diff
56   651    656     5
    Left  Right  diff
56   651    656     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
Empty DataFrame
Columns: [Left, Right, diff]
Index: []
    Left  Right  diff
41   561    566     5
   Left  Right  diff
2   327    332     5
    Left  Right  diff
39   549    554     5
    Left  Right  diff
25   465    470     5
Empty DataFrame
Columns: [Left, Right, diff]
Index: []

In [ ]:
df = df.assign(a=1).merge(df2.assign(a=1), on='a', how='outer')
print (df)

       score  a  Left  Right  diff
0        825  1   315    320     5
1        825  1   321    326     5
2        825  1   327    332     5
3        825  1   333    338     5
4        825  1   339    344     5
...      ... ..   ...    ...   ...
17595    441  1   813    818     5
17596    441  1   819    824     5
17597    441  1   825    830     5
17598    441  1   831    836     5
17599    441  1   837    842     5

[17600 rows x 5 columns]

In [ ]:
df3 = df[(df['Left'] < df['score']) &  (df['Right'] > df['score'])]
#print (df3)
df3.head(5)

df4 = df3.sort_values(by=['score'], ascending=True)
df4.head(25)

     score  a  Left  Right  diff
239    697  1   693    698     5
317    637  1   633    638     5
368    413  1   411    416     5
545    421  1   417    422     5
636    438  1   435    440     5

       score  a  Left  Right  diff
1936     317  1   315    320     5
6072     318  1   315    320     5
10121    323  1   321    326     5
14521    325  1   321    326     5
15225    325  1   321    326     5
6602     329  1   327    332     5
17250    329  1   327    332     5
7394     331  1   327    332     5
2118     354  1   351    356     5
16727    359  1   357    362     5
7751     361  1   357    362     5
5200     366  1   363    368     5
5377     371  1   369    374     5
9865     373  1   369    374     5
5643     382  1   381    386     5
1771     383  1   381    386     5
14091    384  1   381    386     5
12420    388  1   387    392     5
1068     388  1   387    392     5
10660    391  1   387    392     5
7670     401  1   399    404     5
6526     402  1   399    404     5
11806    403  1   399    404     5
8902     403  1   399    404     5
12599    407  1   405    410     5

In [ ]:
df['binned']=pd.cut(df['score'], bins=band, include_lowest=True)
df.head(10)
df.info()

   score          binned
0    825  (824.0, 825.0]
1    680  (675.0, 680.0]
2    697  (693.0, 698.0]
3    637  (633.0, 638.0]
4    413  (411.0, 416.0]
5    332  (327.0, 332.0]
6    421  (417.0, 422.0]
7    438  (435.0, 440.0]
8    529  (525.0, 530.0]
9    411  (410.0, 411.0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   200 non-null    int64
 1   binned  200 non-null    category
dtypes: category(1), int64(1)
memory usage: 8.9 KB

In [ ]:
_, edges = pd.cut(df.score, bins=band, retbins=True)
edges = [int(x) for x in edges]
df['binned_df_np'] = pd.cut(df.score, bins=edges, include_lowest=True)

In [ ]:
df

In [ ]:
final_df = df.sort_values(by=['score'], ascending=True)
final_df

     score            binned      binned_df_np
22     317  (314.999, 320.0]  (314.999, 320.0]
69     318  (314.999, 320.0]  (314.999, 320.0]
115    323    (321.0, 326.0]    (321.0, 326.0]
165    325    (321.0, 326.0]    (321.0, 326.0]
173    325    (321.0, 326.0]    (321.0, 326.0]
196    329    (327.0, 332.0]    (327.0, 332.0]
75     329    (327.0, 332.0]    (327.0, 332.0]
84     331    (327.0, 332.0]    (327.0, 332.0]
5      332    (327.0, 332.0]    (327.0, 332.0]
133    332    (327.0, 332.0]    (327.0, 332.0]
24     354    (351.0, 356.0]    (351.0, 356.0]
190    359    (357.0, 362.0]    (357.0, 362.0]
88     361    (357.0, 362.0]    (357.0, 362.0]
11     362    (357.0, 362.0]    (357.0, 362.0]
59     366    (363.0, 368.0]    (363.0, 368.0]
61     371    (369.0, 374.0]    (369.0, 374.0]
112    373    (369.0, 374.0]    (369.0, 374.0]
98     375    (374.0, 375.0]    (374.0, 375.0]
118    380    (375.0, 380.0]    (375.0, 380.0]
64     382    (381.0, 386.0]    (381.0, 386.0]
20     383    (381.0, 386.0]    (381.0, 386.0]
160    384    (381.0, 386.0]    (381.0, 386.0]
141    388    (387.0, 392.0]    (387.0, 392.0]
12     388    (387.0, 392.0]    (387.0, 392.0]
121    391    (387.0, 392.0]    (387.0, 392.0]
114    392    (387.0, 392.0]    (387.0, 392.0]
87     401    (399.0, 404.0]    (399.0, 404.0]
74     402    (399.0, 404.0]    (399.0, 404.0]
101    403    (399.0, 404.0]    (399.0, 404.0]
134    403    (399.0, 404.0]    (399.0, 404.0]
143    407    (405.0, 410.0]    (405.0, 410.0]
9      411    (410.0, 411.0]    (410.0, 411.0]
4      413    (411.0, 416.0]    (411.0, 416.0]
29     414    (411.0, 416.0]    (411.0, 416.0]
81     414    (411.0, 416.0]    (411.0, 416.0]
6      421    (417.0, 422.0]    (417.0, 422.0]
36     421    (417.0, 422.0]    (417.0, 422.0]
194    423    (422.0, 423.0]    (422.0, 423.0]
86     424    (423.0, 428.0]    (423.0, 428.0]
14     426    (423.0, 428.0]    (423.0, 428.0]
157    427    (423.0, 428.0]    (423.0, 428.0]
10     428    (423.0, 428.0]    (423.0, 428.0]
7      438    (435.0, 440.0]    (435.0, 440.0]
199    441    (440.0, 441.0]    (440.0, 441.0]
52     444    (441.0, 446.0]    (441.0, 446.0]
138    445    (441.0, 446.0]    (441.0, 446.0]
125    450    (447.0, 452.0]    (447.0, 452.0]
28     450    (447.0, 452.0]    (447.0, 452.0]
174    451    (447.0, 452.0]    (447.0, 452.0]
183    452    (447.0, 452.0]    (447.0, 452.0]
65     454    (453.0, 458.0]    (453.0, 458.0]
78     455    (453.0, 458.0]    (453.0, 458.0]
102    456    (453.0, 458.0]    (453.0, 458.0]
39     461    (459.0, 464.0]    (459.0, 464.0]
198    467    (465.0, 470.0]    (465.0, 470.0]
47     469    (465.0, 470.0]    (465.0, 470.0]
43     473    (471.0, 476.0]    (471.0, 476.0]
184    483    (482.0, 483.0]    (482.0, 483.0]
27     491    (489.0, 494.0]    (489.0, 494.0]
44     495    (494.0, 495.0]    (494.0, 495.0]
31     495    (494.0, 495.0]    (494.0, 495.0]
53     501    (500.0, 501.0]    (500.0, 501.0]
170    501    (500.0, 501.0]    (500.0, 501.0]
146    502    (501.0, 506.0]    (501.0, 506.0]
82     508    (507.0, 512.0]    (507.0, 512.0]
171    509    (507.0, 512.0]    (507.0, 512.0]
159    509    (507.0, 512.0]    (507.0, 512.0]
136    512    (507.0, 512.0]    (507.0, 512.0]
120    513    (512.0, 513.0]    (512.0, 513.0]
77     513    (512.0, 513.0]    (512.0, 513.0]
128    521    (519.0, 524.0]    (519.0, 524.0]
116    521    (519.0, 524.0]    (519.0, 524.0]
162    522    (519.0, 524.0]    (519.0, 524.0]
19     523    (519.0, 524.0]    (519.0, 524.0]
33     528    (525.0, 530.0]    (525.0, 530.0]
8      529    (525.0, 530.0]    (525.0, 530.0]
188    530    (525.0, 530.0]    (525.0, 530.0]
135    530    (525.0, 530.0]    (525.0, 530.0]
181    535    (531.0, 536.0]    (531.0, 536.0]
119    537    (536.0, 537.0]    (536.0, 537.0]
71     537    (536.0, 537.0]    (536.0, 537.0]
13     539    (537.0, 542.0]    (537.0, 542.0]
180    540    (537.0, 542.0]    (537.0, 542.0]
197    553    (549.0, 554.0]    (549.0, 554.0]
50     559    (555.0, 560.0]    (555.0, 560.0]
195    562    (561.0, 566.0]    (561.0, 566.0]
163    566    (561.0, 566.0]    (561.0, 566.0]
17     568    (567.0, 572.0]    (567.0, 572.0]
49     570    (567.0, 572.0]    (567.0, 572.0]
127    572    (567.0, 572.0]    (567.0, 572.0]
70     574    (573.0, 578.0]    (573.0, 578.0]
151    574    (573.0, 578.0]    (573.0, 578.0]
72     577    (573.0, 578.0]    (573.0, 578.0]
73     580    (579.0, 584.0]    (579.0, 584.0]
41     586    (585.0, 590.0]    (585.0, 590.0]
89     586    (585.0, 590.0]    (585.0, 590.0]
175    596    (591.0, 596.0]    (591.0, 596.0]
148    596    (591.0, 596.0]    (591.0, 596.0]
35     605    (603.0, 608.0]    (603.0, 608.0]
166    605    (603.0, 608.0]    (603.0, 608.0]
167    608    (603.0, 608.0]    (603.0, 608.0]
91     611    (609.0, 614.0]    (609.0, 614.0]
93     616    (615.0, 620.0]    (615.0, 620.0]
172    616    (615.0, 620.0]    (615.0, 620.0]
60     619    (615.0, 620.0]    (615.0, 620.0]
56     620    (615.0, 620.0]    (615.0, 620.0]
168    620    (615.0, 620.0]    (615.0, 620.0]
155    627    (626.0, 627.0]    (626.0, 627.0]
158    627    (626.0, 627.0]    (626.0, 627.0]
90     630    (627.0, 632.0]    (627.0, 632.0]
105    634    (633.0, 638.0]    (633.0, 638.0]
177    636    (633.0, 638.0]    (633.0, 638.0]
99     636    (633.0, 638.0]    (633.0, 638.0]
164    637    (633.0, 638.0]    (633.0, 638.0]
25     637    (633.0, 638.0]    (633.0, 638.0]
3      637    (633.0, 638.0]    (633.0, 638.0]
100    638    (633.0, 638.0]    (633.0, 638.0]
186    639    (638.0, 639.0]    (638.0, 639.0]
156    640    (639.0, 644.0]    (639.0, 644.0]
192    652    (651.0, 656.0]    (651.0, 656.0]
16     654    (651.0, 656.0]    (651.0, 656.0]
191    654    (651.0, 656.0]    (651.0, 656.0]
23     655    (651.0, 656.0]    (651.0, 656.0]
106    655    (651.0, 656.0]    (651.0, 656.0]
152    656    (651.0, 656.0]    (651.0, 656.0]
62     657    (656.0, 657.0]    (656.0, 657.0]
68     669    (668.0, 669.0]    (668.0, 669.0]
176    670    (669.0, 674.0]    (669.0, 674.0]
54     672    (669.0, 674.0]    (669.0, 674.0]
137    672    (669.0, 674.0]    (669.0, 674.0]
32     673    (669.0, 674.0]    (669.0, 674.0]
51     674    (669.0, 674.0]    (669.0, 674.0]
85     675    (674.0, 675.0]    (674.0, 675.0]
104    679    (675.0, 680.0]    (675.0, 680.0]
45     680    (675.0, 680.0]    (675.0, 680.0]
1      680    (675.0, 680.0]    (675.0, 680.0]
46     686    (681.0, 686.0]    (681.0, 686.0]
109    692    (687.0, 692.0]    (687.0, 692.0]
30     695    (693.0, 698.0]    (693.0, 698.0]
2      697    (693.0, 698.0]    (693.0, 698.0]
193    698    (693.0, 698.0]    (693.0, 698.0]
96     700    (699.0, 704.0]    (699.0, 704.0]
117    705    (704.0, 705.0]    (704.0, 705.0]
48     705    (704.0, 705.0]    (704.0, 705.0]
161    708    (705.0, 710.0]    (705.0, 710.0]
38     709    (705.0, 710.0]    (705.0, 710.0]
169    716    (711.0, 716.0]    (711.0, 716.0]
80     716    (711.0, 716.0]    (711.0, 716.0]
189    720    (717.0, 722.0]    (717.0, 722.0]
147    722    (717.0, 722.0]    (717.0, 722.0]
15     724    (723.0, 728.0]    (723.0, 728.0]
92     724    (723.0, 728.0]    (723.0, 728.0]
142    725    (723.0, 728.0]    (723.0, 728.0]
42     726    (723.0, 728.0]    (723.0, 728.0]
34     726    (723.0, 728.0]    (723.0, 728.0]
103    727    (723.0, 728.0]    (723.0, 728.0]
37     733    (729.0, 734.0]    (729.0, 734.0]
95     734    (729.0, 734.0]    (729.0, 734.0]
18     735    (734.0, 735.0]    (734.0, 735.0]
182    737    (735.0, 740.0]    (735.0, 740.0]
110    739    (735.0, 740.0]    (735.0, 740.0]
126    743    (741.0, 746.0]    (741.0, 746.0]
154    747    (746.0, 747.0]    (746.0, 747.0]
94     748    (747.0, 752.0]    (747.0, 752.0]
55     749    (747.0, 752.0]    (747.0, 752.0]
79     753    (752.0, 753.0]    (752.0, 753.0]
129    755    (753.0, 758.0]    (753.0, 758.0]
149    756    (753.0, 758.0]    (753.0, 758.0]
145    757    (753.0, 758.0]    (753.0, 758.0]
21     766    (765.0, 770.0]    (765.0, 770.0]
179    769    (765.0, 770.0]    (765.0, 770.0]
144    774    (771.0, 776.0]    (771.0, 776.0]
122    775    (771.0, 776.0]    (771.0, 776.0]
57     780    (777.0, 782.0]    (777.0, 782.0]
76     782    (777.0, 782.0]    (777.0, 782.0]
130    786    (783.0, 788.0]    (783.0, 788.0]
111    787    (783.0, 788.0]    (783.0, 788.0]
66     788    (783.0, 788.0]    (783.0, 788.0]
139    790    (789.0, 794.0]    (789.0, 794.0]
108    795    (794.0, 795.0]    (794.0, 795.0]
131    796    (795.0, 800.0]    (795.0, 800.0]
40     799    (795.0, 800.0]    (795.0, 800.0]
97     801    (800.0, 801.0]    (800.0, 801.0]
67     804    (801.0, 806.0]    (801.0, 806.0]
185    804    (801.0, 806.0]    (801.0, 806.0]
123    805    (801.0, 806.0]    (801.0, 806.0]
113    808    (807.0, 812.0]    (807.0, 812.0]
83     808    (807.0, 812.0]    (807.0, 812.0]
107    811    (807.0, 812.0]    (807.0, 812.0]
124    812    (807.0, 812.0]    (807.0, 812.0]
153    817    (813.0, 818.0]    (813.0, 818.0]
140    818    (813.0, 818.0]    (813.0, 818.0]
26     819    (818.0, 819.0]    (818.0, 819.0]
187    821    (819.0, 824.0]    (819.0, 824.0]
150    822    (819.0, 824.0]    (819.0, 824.0]
0      825    (824.0, 825.0]    (824.0, 825.0]
58     828    (825.0, 830.0]    (825.0, 830.0]
63     830    (825.0, 830.0]    (825.0, 830.0]
132    830    (825.0, 830.0]    (825.0, 830.0]
178    834    (831.0, 836.0]    (831.0, 836.0]

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 361 to 812
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   1000 non-null   int64
 1   binned  1000 non-null   category
dtypes: category(1), int64(1)
memory usage: 24.4 KB

In [ ]:
t=final_df['binned'].value_counts()
t.head()

(597.0, 602.0]    16
(327.0, 332.0]    15
(651.0, 656.0]    15
(807.0, 812.0]    15
(711.0, 716.0]    15
Name: binned, dtype: int64

In [ ]:
final_df['binned'].value_counts()

(597.0, 602.0]      16
(327.0, 332.0]      15
(651.0, 656.0]      15
(807.0, 812.0]      15
(711.0, 716.0]      15
(603.0, 608.0]      14
(723.0, 728.0]      14
(435.0, 440.0]      13
(447.0, 452.0]      13
(381.0, 386.0]      13
(777.0, 782.0]      13
(423.0, 428.0]      13
(717.0, 722.0]      13
(669.0, 674.0]      13
(675.0, 680.0]      13
(525.0, 530.0]      13
(393.0, 398.0]      12
(489.0, 494.0]      12
(615.0, 620.0]      12
(519.0, 524.0]      12
(729.0, 734.0]      12
(411.0, 416.0]      12
(537.0, 542.0]      12
(753.0, 758.0]      12
(314.999, 320.0]    12
(819.0, 824.0]      12
(783.0, 788.0]      12
(795.0, 800.0]      12
(831.0, 836.0]      12
(369.0, 374.0]      12
(801.0, 806.0]      11
(501.0, 506.0]      11
(633.0, 638.0]      11
(555.0, 560.0]      11
(471.0, 476.0]      11
(591.0, 596.0]      11
(333.0, 338.0]      10
(609.0, 614.0]      10
(513.0, 518.0]      10
(747.0, 752.0]      10
(321.0, 326.0]      10
(453.0, 458.0]      10
(351.0, 356.0]      10
(687.0, 692.0]      10
(825.0, 830.0]       9
(465.0, 470.0]       9
(531.0, 536.0]       9
(645.0, 650.0]       9
(813.0, 818.0]       9
(543.0, 548.0]       9
(765.0, 770.0]       9
(705.0, 710.0]       9
(399.0, 404.0]       9
(375.0, 380.0]       9
(405.0, 410.0]       9
(363.0, 368.0]       9
(735.0, 740.0]       9
(759.0, 764.0]       8
(417.0, 422.0]       8
(441.0, 446.0]       8
(699.0, 704.0]       8
(477.0, 482.0]       8
(387.0, 392.0]       8
(549.0, 554.0]       8
(339.0, 344.0]       8
(585.0, 590.0]       7
(567.0, 572.0]       7
(771.0, 776.0]       7
(681.0, 686.0]       7
(728.0, 729.0]       7
(429.0, 434.0]       7
(789.0, 794.0]       7
(507.0, 512.0]       7
(357.0, 362.0]       7
(345.0, 350.0]       7
(693.0, 698.0]       7
(561.0, 566.0]       7
(639.0, 644.0]       6
(657.0, 662.0]       6
(663.0, 668.0]       6
(579.0, 584.0]       6
(459.0, 464.0]       6
(627.0, 632.0]       5
(548.0, 549.0]       5
(573.0, 578.0]       5
(440.0, 441.0]       5
(824.0, 825.0]       5
(494.0, 495.0]       5
(741.0, 746.0]       5
(638.0, 639.0]       4
(483.0, 488.0]       4
(320.0, 321.0]       4
(495.0, 500.0]       3
(794.0, 795.0]       3
(500.0, 501.0]       3
(644.0, 645.0]       3
(458.0, 459.0]       3
(374.0, 375.0]       3
(488.0, 489.0]       3
(788.0, 789.0]       3
(668.0, 669.0]       3
(482.0, 483.0]       3
(656.0, 657.0]       3
(512.0, 513.0]       3
(710.0, 711.0]       3
(530.0, 531.0]       3
(536.0, 537.0]       3
(752.0, 753.0]       3
(578.0, 579.0]       3
(734.0, 735.0]       3
(674.0, 675.0]       3
(776.0, 777.0]       2
(680.0, 681.0]       2
(770.0, 771.0]       2
(476.0, 477.0]       2
(554.0, 555.0]       2
(704.0, 705.0]       2
(764.0, 765.0]       2
(404.0, 405.0]       2
(422.0, 423.0]       2
(746.0, 747.0]       2
(800.0, 801.0]       2
(344.0, 345.0]       2
(572.0, 573.0]       2
(830.0, 831.0]       2
(626.0, 627.0]       2
(338.0, 339.0]       2
(818.0, 819.0]       2
(602.0, 603.0]       2
(621.0, 626.0]       2
(392.0, 393.0]       1
(812.0, 813.0]       1
(806.0, 807.0]       1
(398.0, 399.0]       1
(758.0, 759.0]       1
(326.0, 327.0]       1
(836.0, 837.0]       1
(410.0, 411.0]       1
(782.0, 783.0]       1
(837.0, 842.0]       1
(368.0, 369.0]       1
(560.0, 561.0]       1
(740.0, 741.0]       1
(686.0, 687.0]       1
(542.0, 543.0]       1
(590.0, 591.0]       1
(596.0, 597.0]       1
(608.0, 609.0]       1
(614.0, 615.0]       1
(416.0, 417.0]       1
(662.0, 663.0]       1
(506.0, 507.0]       1
(446.0, 447.0]       1
(692.0, 693.0]       1
(428.0, 429.0]       1
(452.0, 453.0]       1
(722.0, 723.0]       1
(716.0, 717.0]       1
(386.0, 387.0]       0
(566.0, 567.0]       0
(584.0, 585.0]       0
(434.0, 435.0]       0
(332.0, 333.0]       0
(524.0, 525.0]       0
(518.0, 519.0]       0
(350.0, 351.0]       0
(464.0, 465.0]       0
(620.0, 621.0]       0
(356.0, 357.0]       0
(632.0, 633.0]       0
(362.0, 363.0]       0
(650.0, 651.0]       0
(698.0, 699.0]       0
(470.0, 471.0]       0
(380.0, 381.0]       0
(842.0, 843.0]       0
Name: binned, dtype: int64